<header>
    <div class="px-3 py-4 bg-dark text-white top-0 position-sticky">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a class="logo" href="/">
                <img src="/assets/pdva-logo.svg" alt="Parions Sport point de vente, les paris sportifs et loto sports en point de vente" class="logo_pdv"></a>

        </div>
      </div>
    </div>
    <div class="px-3 py-2 mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <a class="logo-jo" href="https://www.paris2024.org/fr/">
            <img src="/assets/logo.png" alt="Jeux olympiques et paralympiques de Paris 2024" class="logo_pdv"  target="_blank"></a>
      </div>
    </div>

  </header>
  <div>
    <div class="title-top-paris" >Top des paris</div>
    <fdj-top-events></fdj-top-events>
  </div>