.logo img {
    width: 180px;
}

.logo-jo img {
    width: 180px
}

.title-top-paris {
    text-align: center;
    font-weight: 900;
    display: flex;
    justify-content: center;

    &:before {
        content: "";
        display: inline-block;
        margin-right: 15px;
        width: 3px;
        height: 24px;
        transform: rotate(-168deg);
        background-color: var(--border-color);
    }

    &:after {
        content: "";
        display: inline-block;
        margin-left: 15px;
        width: 3px;
        height: 24px;
        transform: rotate(-168deg);
        background-color: var(--border-color);
    }
}